<h1>Editing order receipt</h1>

<%= render "form", order_receipt: @order_receipt %>

<br>

<div>
  <%= link_to "Show this order receipt", @order_receipt %> |
  <%= link_to "Back to order receipts", order_receipts_path %>
</div>
