<h1>Editing high score</h1>

<%= render "form", high_score: @high_score %>

<br>

<div>
  <%= link_to "Show this high score", @high_score %> |
  <%= link_to "Back to high scores", high_scores_path %>
</div>
